header {
  text-align: left;
  padding: 10px;
  background-color: #eee;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.signIn-Button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.content-text {
  text-align: center;
  margin-top: 50px;
}

.signup-button {
  text-align: center;
  margin-top: 50px;
}

.user-text {
  margin-right: 10px;
}
