alembic==1.12.1
aniso8601==9.0.1
bcrypt==3.2.0#Note:ThisisacommonversiononRender
blinker==1.4
click==8.1.7
exceptiongroup==1.2.0
Faker==9.13.1#Note:ThisisacommonversiononRender
Flask==2.1.4#Note:Flask3.0.1maynotbeavailable,sousingacommonversion
Flask-Bcrypt==0.7.1#Note:AdjustedtoaversioncommonlyavailableonRender
Flask-Migrate==3.0.1#Note:AdjustedtoaversioncommonlyavailableonRender
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==1.1.1#Note:AdjustedtoaversioncommonlyavailableonRender
gunicorn==20.1.0#Note:AdjustedtoaversioncommonlyavailableonRender
importlib-metadata==4.8.1#Note:AdjustedtoaversioncommonlyavailableonRender
importlib-resources==6.1.1
iniconfig==2.0.0
itsdangerous==2.1.0#Note:AdjustedtoaversioncommonlyavailableonRender
Jinja2==3.0.1
Mako==1.1.5#Note:AdjustedtoaversioncommonlyavailableonRender
MarkupSafe==2.0.1#Note:AdjustedtoaversioncommonlyavailableonRender
packaging==21.3#Note:AdjustedtoaversioncommonlyavailableonRender
pluggy==0.13.1#Note:AdjustedtoaversioncommonlyavailableonRender
pytest==6.2.5#Note:AdjustedtoaversioncommonlyavailableonRender
python-dateutil==2.8.2
pytz==2021.1#Note:AdjustedtoaversioncommonlyavailableonRender
six==1.16.0
SQLAlchemy==1.4.31#Note:AdjustedtoaversioncommonlyavailableonRender
SQLAlchemy-serializer==0.1.11#Note:AdjustedtoaversioncommonlyavailableonRender
tomli==1.2.1#Note:AdjustedtoaversioncommonlyavailableonRender
typing-extensions==3.10.0.3#Note:AdjustedtoaversioncommonlyavailableonRender
Werkzeug==2.0.1#Note:AdjustedtoaversioncommonlyavailableonRender
zipp==3.4.1#Note:AdjustedtoaversioncommonlyavailableonRender
